<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" (click)="toggleDropdownMenu()">
    <i class="fa fa-tasks"></i>
    <span class="badge badge-warning navbar-badge">{{taskList.length}}</span>
  </a>
  <div #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <span class="dropdown-item dropdown-header">{{taskList.length}} Taches</span>
    <div class="dropdown-divider"></div>
   <ng-container *ngFor="let task of taskList">
    <a [routerLink]="[task.selfLink]" class="dropdown-item">
      <i class="fas fa-file mr-2"></i> {{task.title}}
      <span class="float-right text-muted text-sm">{{task.datesend}}</span>
    </a>
    <div class="dropdown-divider"></div>
   </ng-container>
    
    <a href="#" class="dropdown-item dropdown-footer">Voir toutes les taches</a>
  </div>
</li>

<ng-template #notification>
  <a href="#" class="dropdown-item">
    <i class="fas fa-envelope mr-2"></i> 4 new messages
    <span class="float-right text-muted text-sm">3 mins</span>
  </a>
  <div class="dropdown-divider"></div>
</ng-template>
