    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6 text-left">
            <h1>{{title}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li *ngFor="let item of path;index as i" [class]="'breadcrumb-item '+((path.length-1)===i?'active':'')">
                <a *ngIf="path.length-1!==i" [routerLink]="[item.link]">{{item.text}}</a>
                <span *ngIf="path.length-1===i" >{{item.text}}</span>
              </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
