.dynamic-table tbody tr td:hover
{
    background-color: rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.dynamic-table-options
{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.dynamic-table-options > *
{
    text-align: center;
    width: 100%;
    height: 100%;
    padding:10px;
}
.dynamic-table-options > *:last-child
{
    border-top: 2px solid #e0e0e0;
}
.dynamic-table-options > *:hover
{
    background-color: rgba(0, 0, 0, 0.06);
    
}