<app-breadcrumbs [title]="titlePage" [path]="path"></app-breadcrumbs>

<!-- Main content -->
<form [formGroup]="formAddProjet" (submit)="addProjet()" #ngFormAddProjet>
    <section class="content">
        
      <div class="row">
        <div class="col-7">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Generale</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">Nom du projet <span class="text-red">*</span> </label>
                <input type="text" id="inputName" [formControlName]="'projetName'" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputDescription">Description du projet <span class="text-red">*</span></label>
                <textarea id="inputDescription" class="form-control" [formControlName]="'descriptionProjet'" rows="4"></textarea>
              </div>
              <div class="form-group">
                <label for="inputStatus">Type de projet <span class="text-red">*</span></label>
                <select id="inputStatus" [formControlName]="'typeProjet'" class="form-control custom-select">
                  <option selected disabled>Selectionnez un type</option>
                  <option *ngFor="let type of projet_type" [ngValue]="type">
                      {{ type.text }}
                  </option>
                </select>
              </div>    
              <div class="form-group">
                <label>Service concerné <span class="text-red">*</span></label>
                <select [formControlName]="'serviceConcernProjet'" class="form-control service-select2 select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%; line-height:17px;">
                  <option *ngFor="let service of serviceList" [value]="service.name">{{service.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Responsable du projet <span class="text-red">*</span></label>
                <select [formControlName]="'responsableProjet'" class="form-control responsable-select2 select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%; line-height:17px;">
                  <option *ngFor="let responsable of responsableList" [value]="responsable.id">{{responsable.fullName}}</option>
                </select>
              </div> 
              
              <div class="form-group">
                <label>Document du projet</label>
                <div class="row table_fichier dynamic-table">
                    <div class="col-10">
                        <table class="table-bordered  table table-sm">
                            <thead>
                                <tr>
                                    <th>Nom du document</th>
                                    <th>Chemin Drive</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>                     
                        </table>
                    </div>
                    <div class="col-2">
                        <div class="dynamic-table-options card">
                            <i class="fa fa-plus-circle waves-green waves-effect waves-light add_cell"></i>
                            <i class="material-icons fa fa-times waves-effect waves-green waves-light remove_cell"></i>
                        </div>
                    </div> 
                </div>
              </div>      
            </div>
            <!-- /.card-body -->
            <div class="overlay" *ngIf="submitFormAddProjet">
              <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div> 
          </div>
          <!-- /.card -->   
             
        </div>

        <div class="col-4">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Client</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">                
                  
                <div class="form-group">
                  <label>Choisir un client existant <span class="text-red">*</span></label>
                  <select class="form-control client-select2 select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%; line-height:17px;">
                    <option *ngFor="let client of clientList" [value]="client.id">{{client.nomPrenom}}</option>
                  </select>
                </div>
              <div class="divider"></div>

              <!--<caption >-->
              <p class="underline center">Ajouter un nouveau client</p>
              <form [formGroup]="formAddClient" #ngFormAddClient (submit)="addClient()">
                <div class="form-group">
                <label for="inputNomClient">Nom et prénom <span class="text-red">*</span></label>
                <input type="text" [formControlName]="'nomPrenom'" id="inputNomClient" class="form-control">
              </div>
              <div class="form-group">
                <label for="telClient">Tel:</label>
                <input type="tel" id="telClient" [formControlName]="'tel'" [ngClass]="{'form-control':true,'is-invalid':ngFormAddClient.isSubmitted && formAddClient.get('tel').invalid}">
              </div>
              <div class="form-group">
                <label for="emailClient">Email: </label>
                <input type="email" id="emailClient" [formControlName]="'email'" class="form-control">
              </div>
              <div class="form-group">
                <label for="localClient">Localisation: </label>
                <input type="text" id="localClient" [formControlName]="'localisation'" class="form-control">
              </div>
              <div class="form-group">
                <button type="reset" class="btn btn-secondary">Annuler</button>
                <button type="submit" class="btn btn-success float-right" [disabled]="!formAddClient.valid" >Valider</button>
              </div>
              </form>
              <!--</caption>-->
            </div>            
            <!-- /.card-body -->
            <div class="overlay" *ngIf="submitFormAddClient || submitFormAddProjet">
              <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
          </div>
          <!-- /.card -->
          

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input type="reset" class="btn btn-secondary" [disabled]="submitFormAddProjet" value="Cancel">
          <input type="submit" [disabled]="formAddProjet.invalid || selectedClient==null || selectedResponsable==null || selectedService==null" value="Create new Porject" class="btn btn-success float-right">
        </div>
      </div>
      
    </section>
    
    <!-- /.content -->
    </form>
    